/*Artigo Completo*/

.btn {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.ce-paragraph {
  text-align: justify;
  word-wrap: break-word;
}

.btn-voltar {
  width: 120px;
  height: 40px;
  padding: 5px;
  background-color: #2f50f5;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14pt;
  cursor: pointer;
  font-weight: 500;
  color: white;
}

.btn-voltar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-voltar span:after {
  content: '←';
  position: absolute;
  font-size: 15pt;
  opacity: 0;
  top: 0;
  right: 0;
  left: -70px;
  transition: 0.5s;
}

.btn-voltar:hover span {
  padding-left: 25px;
}

.btn-voltar:hover span:after {
  opacity: 1;
  right: 0;
}

.container-artigo-completo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  align-items: center;
  padding: 40px;
  box-shadow: 10px 12px 60px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.title-artigo-completo {
  font-size: 20pt;
  font-weight: 600;
  padding-bottom: 5px;
  text-align: center;
}

.subtitle-artigo-completo {
  font-size: 12pt;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.text-artigo-completo {
  padding-top: 30px;
  text-align: justify;
  font-size: 12pt;
  line-height: 2rem;
}

/*Botao Voltar ao Topo*/

.back-to-top-btn {
  z-index: 2000;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

.back-to-top-btn:hover, .back-to-top-btn:focus {
  background-color: #333;
  color: #fff;
}

/*Estilos do Botao Voltar o Topo*/

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

/*Artigo Completo Responsivel*/

@media screen and (min-width: 992px) {
  .back-to-top-btn {
    transition: .5s;
  }
}

@media screen and (max-width: 850px) {
  .container-artigo-completo {
    padding: 20px;
  }
  .back-to-top-btn {
    background-color: #333;
    color: #FFF;
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    transition: .7s;
  }
}