/*Main Dark*/

.body-dark {
    background-color: #1C1E21;
}

.body-dark .wrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.body-dark .wrapper nav {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #242526;
    border-bottom: 1px solid #3f3f40;
    transition: .7s;
    position: relative;
    display: flex;
    max-width: calc(100%);
    margin: 0 auto;
    height: 70px;
    width: 110%;
    align-items: center;
    justify-content: space-between;
}

.body-dark .wrapper .search-icon,
.body-dark .wrapper .menu-icon {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.body-dark .wrapper .menu-icon {
    display: none;
}

.body-dark .wrapper #show-search:checked~.search-icon i::before {
    content: "\f00d";
    color: #ff7922;
}

.body-dark .wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 95%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.body-dark .wrapper #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
}

.body-dark .wrapper input[type="checkbox"] {
    display: none;
}

.body-dark .label-erros {
    color: #fa3b3b;
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
    margin-top: 0px;
    padding: 8px 0px;
    background-color: #1C1E21;
    padding: 3px;
    border-radius: 5px;
}

.body-dark .label-erros-login {
    color: #fa3b3b;
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    padding: 8px 0px;
    background-color: #1C1E21;
    padding: 3px;
    border-radius: 5px;
    border: 0;
}


/*Main Dark Responsivel*/

@media screen and (max-width: 1250px) {
    .body-dark .wrapper nav {
        max-width: 100%;
        padding: 0;
    }
    .body-dark .wrapper .search-box {
        max-width: calc(100% - 100px);
    }
    .body-dark .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px) {
    .body-dark .wrapper .menu-icon {
        display: block;
    }
    .body-dark .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }
}

@media screen and (max-width: 400px) {
    .body-dark .wrapper .search-box {
        max-width: calc(100% - 70px);
    }
    .body-dark .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }
    .body-dark .wrapper .search-box input {
        padding-right: 30px;
    }
}


/*Dark Home*/

.body-dark .text-home {
    color: #FFF;
}

.body-dark .btn-conta:hover {
    box-shadow: inset 200px 0 0 0 #1C1E21;
    color: #2f50f5;
    transition: ease-out .3s;
    border: 3px solid #2f50f5;
}

.body-dark main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin: 25px;
    background-color: transparent;
    border: 3px solid #FFF;
}

.body-dark .far {
    padding-top: 20px;
    font-size: 50px;
    color: #FFF;
}

.body-dark .title-card-home {
    color: #2f50f5;
}

.body-dark .text-card-home {
    color: #FFF;
}


/*Dark Home Responsivel*/

@media screen and (max-width: 720px) {
    .body-dark main.cards section.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 1.5rem;
        border-radius: 8px;
        max-height: 468px;
        margin: 0px;
    }
    .body-dark main.cards {
        flex-direction: column;
    }
    .body-dark main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }
    .body-dark main.cards section.card:last-child {
        margin-bottom: 0;
    }
    .body-dark main.cards section.card button {
        font-size: 70%;
    }
    .body-dark main.cards {
        padding-top: 0;
    }
}


/*Dark Artigos*/

.body-dark #text-box {
    position: relative;
    background-color: #18191a;
    border: 2px solid #fff;
    width: 700px;
    height: 80%;
    margin: 20px;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px transparent;
    outline: none;
    transition: .7s;
    word-wrap: break-word;
}

.body-dark .top-area {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.body-dark #title-artigo {
    width: 100%;
    height: 2%;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18pt;
    font-weight: 600;
    color: #fff;
}

.body-dark #subtitle {
    padding-top: 5px;
    display: flex;
    font-weight: 400;
    color: #fff;
}

.body-dark #post-body {
    position: relative;
    background: transparent;
    text-align: justify;
    color: #fff;
    font-weight: 300;
}

.body-dark #post-body>span>.read-more {
    color: #288ddb;
    cursor: pointer;
    font-weight: 500;
}

.body-dark .back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #fff;
    border-radius: 50%;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

.body-dark .back-to-top-btn:hover,
.body-dark .back-to-top-btn:focus {
    background-color: #2f50f5;
    color: #fff;
}


/*Dark Artigos Responsivel*/

@media screen and (min-width: 992px) {
    .body-dark .back-to-top-btn {
        transition: .5s;
    }
}

@media screen and (max-width: 850px) {
    .body-dark .back-to-top-btn {
        background-color: #2f50f5;
        color: #FFF;
        font-size: 22px;
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
        transition: .7s;
    }
    .body-dark #text-box {
        width: 100vw;
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        border: 0;
        border-bottom: 2px solid #fff;
        transition: .7s;
    }
}


/*Dark Artigo Completo*/

.body-dark .container-artigo-completo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    align-items: center;
    padding: 40px;
    box-shadow: 10px 12px 60px rgba(92, 92, 92, 0.15);
    background-color: #18191a;
}

.body-dark .title-artigo-completo {
    font-size: 20pt;
    font-weight: 600;
    padding-bottom: 5px;
    text-align: center;
    color: #fff;
}

.body-dark .subtitle_artigo_completo {
    font-size: 12pt;
    padding-bottom: 5px;
    border-bottom: 1px solid #2f50f5;
    color: #fff;
    text-align: center;
}

.body-dark .text-artigo-completo {
    padding-top: 30px;
    text-align: justify;
    font-size: 12pt;
    line-height: 2rem;
    color: #fff;
}


/*Dark Artigo Completo Responsivel*/

@media screen and (max-width: 850px) {
    .body-dark .container-artigo-completo {
        padding: 20px;
    }
}


/*Dark Sobre*/

.body-dark .text-sobre {
    color: #FFF;
    text-align: justify;
}


/*Dark Painel*/

.body-dark .title-painel {
    width: 100%;
    height: 2%;
    background-color: #242526;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
}

.body-dark .container-artigo-completo {
    background-color: #242526;
    color: #fff;
    min-height: 430px;
    border: 2px solid #242526;
}

.body-dark #editorjs::placeholder {
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
    padding-top: 180px;
}

.body-dark .link {
    color: #fff;
    display: block;
    background-color: #242526;
    border: 2px solid #fff;
    padding-left: 7px;
    padding-bottom: 28px;
    border-radius: 5px;
    font-size: 12pt;
    font-weight: 500;
    width: 100%;
    padding-top: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.body-dark .title-link {
    font-weight: 700;
    color: #fff;
}

.body-dark .cod {
    color: #fff;
}

.body-dark .extension {
    border: none;
    outline: none;
    font-size: 12pt;
    font-weight: 500;
    width: 14vw;
    margin-right: 3px;
    background-color: transparent;
    color: #21eb74;
    border-bottom: 1px solid #21eb74;
}

.body-dark .btn-enviar {
    width: 8vw;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: none;
    background-color: #21eb74;
    color: #000;
    font-size: 14pt;
    font-weight: 600;
}

.body-dark .btn-enviar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.body-dark .btn-enviar span:after {
    content: '\00bb';
    position: absolute;
    font-size: 18pt;
    opacity: 0;
    top: -4px;
    left: 85px;
    right: -20px;
    transition: 0.5s;
}

.body-dark .btn-enviar:hover span {
    padding-right: 25px;
}

.body-dark .btn-enviar:hover span:after {
    opacity: 1;
    right: 0;
}


/*Dark Painel Responsivel*/

@media screen and (max-width: 1900px) {
    .body-dark .link {
        width: 100%;
        border-radius: 5px;
        height: 36px;
    }
    .body-dark .btn-enviar {
        transition: .7s;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 1515px) {
    .body-dark .title-link {
        width: 500px;
        align-items: center;
    }
    .body-dark .extension {
        width: 26%;
    }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
    .body-dark .link {
        height: 5vh;
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .body-dark .link {
        height: 7vh;
    }
}

@media screen and (max-width: 990px) {
    .body-dark .link {
        height: 80px;
        text-align: center;
    }
    .body-dark .extension {
        width: 60%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .body-dark .link {
        height: 10vh;
    }
}

@media screen and (max-width: 670px) and (max-height: 375px) {
    .body-dark .link {
        height: 23vh;
    }
}

@media screen and (max-width: 640px) and (max-height: 360px) {
    .body-dark .link {
        height: 20vh;
    }
}

@media screen and (max-width: 420px) {
    .body-dark .link {
        height: 110px;
    }
    .body-dark .extension {
        padding-top: 10px;
    }
    .body-dark .btn-enviar {
        height: 37px;
    }
}

@media screen and (max-width: 280px) {
    .cod-dark {
        font-size: 13px;
    }
    .body-dark .extension {
        width: 160px;
    }
}


/*Dark Perfil*/

.body-dark .container-perfil-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 300px;
    border-bottom: 2px solid #FFF;
}

.body-dark .container-infos {
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: #FFF;
}

.body-dark #text-box {
    position: relative;
    background-color: #18191a;
    border: 2px solid #fff;
    width: 700px;
    height: 80%;
    margin: 20px;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px transparent;
    outline: none;
    transition: .7s;
}

.body-dark .top-area {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.body-dark #title-artigo {
    width: 100%;
    height: 2%;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18pt;
    font-weight: 600;
    color: #fff;
}

.body-dark #subtitle {
    padding-top: 5px;
    display: flex;
    font-weight: 400;
    color: #fff;
}

.body-dark #post-body {
    position: relative;
    background: transparent;
    text-align: justify;
    color: #fff;
    font-weight: 300;
}

.body-dark .read-more {
    color: #288ddb;
    cursor: pointer;
    font-weight: 500;
}


/*Dark Perfil Responsivel*/

@media screen and (min-width: 992px) {
    .body-dark .back-to-top-btn {
        transition: .5s;
    }
}

@media screen and (max-width: 850px) {
    .body-dark .back-to-top-btn {
        background-color: #2f50f5;
        color: #FFF;
        font-size: 22px;
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
        transition: .7s;
    }
    .body-dark #text-box {
        width: 100vw;
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        border: 0;
        border-bottom: 2px solid #fff;
        transition: .7s;
    }
}


/*Dark Login*/

.body-dark .container {
    position: relative;
    width: 100%;
    background-color: #1C1E21;
    min-height: 100vh;
    overflow: hidden;
}

.body-dark .container:before {
    content: "";
    position: absolute;
    height: 2600px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #2f50f5 0%, #2f50f5 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
}

.body-dark .title {
    font-size: 2.2rem;
    color: white;
    margin-bottom: 10px;
}

.body-dark .termos {
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
}

.body-dark .container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.body-dark .container.sign-up-mode .left-panel .image,
.body-dark .container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.body-dark .container.sign-up-mode .signin-signup {
    left: 25%;
}

.body-dark .container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
}

.body-dark .container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
}

.body-dark .container.sign-up-mode .right-panel .image,
.body-dark .container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.body-dark .container.sign-up-mode .left-panel {
    pointer-events: none;
}

.body-dark .container.sign-up-mode .right-panel {
    pointer-events: all;
}


/*Dark Login Responsivel*/

@media screen and (max-width: 870px) {
    .body-dark .container {
        min-height: 800px;
        height: 100vh;
    }
    .body-dark .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .signin-signup,
    .body-dark .container.sign-up-mode .signin-signup {
        left: 50%;
    }
    .body-dark .container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }
    .body-dark .container.sign-up-mode .left-panel .image,
    .body-dark .container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }
    .body-dark .container.sign-up-mode .right-panel .image,
    .body-dark .container.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }
    .body-dark .container.sign-up-mode .signin-signup {
        top: 2%;
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 570px) {
    .body-dark .container {
        padding: 1.5rem;
    }
    .body-dark .container:before {
        bottom: 72%;
        left: 50%;
    }
    .body-dark .container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}


/*Dark Termos*/

.body-dark .box-termos {
    width: 100%;
    height: 100%;
    background-color: #18191a;
    box-shadow: 10px 12px 60px rgba(92, 92, 92, 0.15);
    padding-right: 30px;
    padding-left: 30px;
    color: #fff;
}


/*Dark Erro 404*/

.body-dark .title-erro-404 {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color: #fff;
}

.body-dark .text-erro-404 {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}


/*Dark Erro 404 Responsivel*/

@media screen and (max-width: 600px) {
    .body-dark .title-erro-404 {
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        color: #fff;
    }
    .body-dark .text-erro-404 {
        margin-top: 15px;
        font-size: 15px;
        text-align: center;
        color: #fff;
    }
}

@media screen and (max-width: 850px) and (max-height: 550px) {
    .body-dark .title-erro-404 {
        font-size: 15px;
        font-weight: 800;
        text-align: center;
    }
    .body-dark .text-erro-404 {
        margin-top: 15px;
        font-size: 15px;
        text-align: center;
    }
}