/*Main Dark*/
.body-dark{
  background-color: #1C1E21;
}

.wrapper-dark{
  position: fixed;
  z-index: 10;
  width: 100%;
}

.wrapper-dark nav{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #242526;
  border-bottom: 1px solid #3f3f40;
  transition: .7s;
  position: relative;
  display: flex;
  max-width: calc(100%);
  margin: 0 auto;
  height: 70px;
  width: 110%;
  align-items: center;
  justify-content: space-between;
}

.wrapper-dark .search-icon,
.wrapper-dark .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper-dark .menu-icon{
  display: none;
}

.wrapper-dark #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
  color: #ff7922;
}

.wrapper-dark .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 95%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper-dark #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}

.wrapper-dark  input[type="checkbox"]{
    display: none;
}

/*Main Dark Responsivel*/
@media screen and (max-width: 1250px){

  .wrapper-dark nav{
    max-width: 100%;
    padding: 0;
  }

  .wrapper-dark .search-box{
    max-width: calc(100% - 100px);
  }

  .wrapper-dark .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){

  .wrapper-dark  .menu-icon{
    display: block;
  }

  .wrapper-dark  #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
}

@media screen and (max-width: 400px){

  .wrapper-dark  .search-box{
    max-width: calc(100% - 70px);
  }

  .wrapper-dark  .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  
  .wrapper-dark  .search-box input{
    padding-right: 30px;
  }
}

/*Dark Artigos*/
.body-dark > .container-artigos > .container-artigo > #text-box {
  position: relative;
  background-color: #18191a;
  border: 1px solid #fff;
  width: 700px;
  height: 80%;
  margin: 20px;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0;
  outline: none;
  transition: .7s;
}

.body-dark > .container-artigos > .container-artigo > #text-box > .top-area{
  display: block;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.body-dark > .container-artigos > .container-artigo > #text-box > .top-area > #title-artigo {
  width: 100%;
  height: 2%;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18pt;
  font-weight: 600;
  color: #fff;
}

.body-dark > .container-artigos > .container-artigo > #text-box > .top-area > #subtitle{
  padding-top: 5px;
  display: flex;
  font-weight: 400;
  color: #fff;
}

.body-dark > .container-artigos > .container-artigo > #text-box > #post-body{
  position: relative;
  background: transparent;
  text-align: justify;
  color: #fff;
  font-weight: 300;
}

.body-dark > .container-artigos > .container-artigo > #text-box > #post-body > span > .read-more{
  color: #288ddb;
  cursor: pointer;
  font-weight: 500;
}

.back-to-top-btn-dark{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #fff;
  border-radius: 50%;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

.back-to-top-btn-dark:hover, .back-to-top-btn-dark:focus{
  background-color: #2f50f5;
  color: #fff;  
}

/*Dark Artigos Responsivel*/
@media(min-width: 992px){
  
  .back-to-top-btn-dark{
    transition: .5s;
  }
}

@media(max-width: 850px){

  .back-to-top-btn-dark{ 
    background-color: #2f50f5;
    color: #FFF;
    font-size: 22px; 
    width: 40px; 
    height: 40px; 
    bottom: 15px; 
    right: 15px; 
    transition: .7s;
  }

  .body-dark > .container-artigos > .container-artigo > #text-box{
    width: 100vw;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #fff;
    transition: .7s;
  }
}

/*Dark Artigo Completo*/
.container-artigo-completo-dark{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  align-items: center;
  padding: 40px;
  box-shadow: 10px 12px 60px rgba(92, 92, 92, 0.15);
  background-color: #18191a;
} 

.title-artigo-completo-dark{
  font-size: 20pt;
  font-weight: 600;
  padding-bottom: 5px;
  text-align: center;
  color: #fff;
}

.subtitle-artigo-completo-dark{
  font-size: 12pt;
  padding-bottom: 5px;
  border-bottom: 1px solid #2f50f5;
  color: #fff;
}

.text-artigo-completo-dark{
  padding-top: 30px;
  text-align: justify;
  font-size: 12pt;
  line-height: 2rem;
  color: #fff;
}

/*Dark Artigo Completo Responsivel*/
@media(max-width: 850px){
  
  .container-artigo-completo-dark{
    padding: 20px;
  }
}

/*Dark Painel*/
.title-painel-dark{
  width: 100%;
  height: 2%;
  background-color: #242526;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  font-size: 18pt;
  font-weight: 600;
  text-align: center;
}

.textarea-dark{
  background-color: #242526;
  color: #fff;
  width: 100%;
  height: 430px;
  font-size: 1em;
  padding: 10px;
  outline: none;
  resize: none;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-bottom: 15px;
  text-align: justify;
  text-decoration: none;
}

.textarea-dark::placeholder{
  font-size: 18pt;
  font-weight: 600;
  text-align: center;
  padding-top: 180px;
}

.link-dark{
  display: block;
  background-color: #242526;
  border: 1px solid #fff;
  padding-left: 7px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: 12pt;
  font-weight: 500;
  width: 100%;
  padding-top: 8px;
}

.title-link-dark{
  font-weight: 700;
  color: #fff;
}

.cod-dark{
  color: #fff;
}

.extension-dark{
  border: none;
  outline: none;
  font-size: 12pt;
  font-weight: 500;
  width: 14vw;
  margin-right: 3px;
  background-color: transparent;
  color: #21eb74;
  border-bottom: 1px solid #21eb74;
}

/*Dark Painel Responsivel*/
@media (max-width: 1900px){

  .link-dark{
    width: 100%;
    border-radius: 5px;
    height: 36px;
  }
}

@media (max-width: 1515px){

  .title-link-dark{
    width: 500px;
    align-items: center;
  }

  .extension-dark{
    width: 26%;
  }
}

@media (max-width: 1024px) and (max-height: 768px){
  
  .link-dark{
    height: 5vh;
  }
}

@media (max-width: 1024px) and (max-height: 600px){

  .link-dark{
    height: 7vh;
  }
}

@media (max-width: 990px){

  .link-dark{
    height: 80px;
    text-align: center;
  }

  .extension-dark{
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 700px){

  .link-dark{
    height: 10vh;
  }
}

@media (max-width: 670px) and (max-height: 375px){

  .link-dark{
    height: 23vh;
  }
}

@media (max-width: 640px) and (max-height: 360px){

  .link-dark{
    height: 20vh;
  }
}

@media (max-width: 420px){

  .link-dark{
    height: 110px;
  }

  .extension-dark{
    padding-top: 3px;
    }

  .extension-dark{
    padding-top: 10px;
  }
}

@media (max-width: 280px){

  .cod-dark{
    font-size: 13px;
  }

  .extension-dark{
    width: 160px;
  }
}

/*Dark Login*/
.container-dark{
  position: relative;
  width: 100%;
  background-color: #242526;
  min-height: 100vh;
  overflow: hidden;
}

.container-dark:before{
  content: "";
  position: absolute;
  height: 2600px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #2f50f5 0%, #2f50f5 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.title-dark{
  font-size: 2.2rem;
  color: white;
  margin-bottom: 10px;
}

.container-dark.sign-up-mode:before{
  transform: translate(100%, -50%);
  right: 52%;
}
  
.container-dark.sign-up-mode .left-panel .image, 
.container-dark.sign-up-mode .left-panel .content{
  transform: translateX(-800px);
}
  
.container-dark.sign-up-mode .signin-signup{
  left: 25%;
}
  
.container-dark.sign-up-mode form.sign-up-form{
  opacity: 1;
  z-index: 2;
}
  
.container-dark.sign-up-mode form.sign-in-form{
  opacity: 0;
  z-index: 1;
}
  
.container-dark.sign-up-mode .right-panel .image,
.container-dark.sign-up-mode .right-panel .content{
  transform: translateX(0%);
}
  
.container-dark.sign-up-mode .left-panel{
  pointer-events: none;
}
  
.container-dark.sign-up-mode .right-panel{
  pointer-events: all;
}

/*Dark Login Responsivel*/
@media (max-width: 870px){
  
  .container-dark{
    min-height: 800px;
    height: 100vh;
  }

  .container-dark:before{
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .signin-signup,
  .container-dark.sign-up-mode .signin-signup{
    left: 50%;
  }

  .container-dark.sign-up-mode:before{
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  
  .container-dark.sign-up-mode .left-panel .image,
  .container-dark.sign-up-mode .left-panel .content{
    transform: translateY(-300px);
  }
  
  .container-dark.sign-up-mode .right-panel .image,
  .container-dark.sign-up-mode .right-panel .content{
    transform: translateY(0px);
  }
  
  .container-dark.sign-up-mode .signin-signup{
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px){
  .container-dark{
    padding: 1.5rem;
  }
  
  .container-dark:before{
    bottom: 72%;
    left: 50%;
  }
  
  .container-dark.sign-up-mode:before{
    bottom: 28%;
    left: 50%;
  }
}