
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.container-artigo{
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  width: 100%;
  height: 2%;
  background: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18pt;
  font-weight: 600;
  text-align: center;
}

.text-box{
  position: relative;
  background: #2f50f5;
  width: 50vw;
  height: 65vh;
  margin: 10px;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: .7s;
}

.text-box .top-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}



.contador{
  color: #fff;
  font-weight: 600;
}

.text-box textarea{
  width: 100%;
  min-height: 46vh;
  font-size: 1em;
  padding: 10px;
  outline: none;
  resize: none;
  border-radius: 5px;
  border: 1px solid #000;
  margin-bottom: 15px;
  text-align: justify;
}

.link-btn{
  background-color: transparent;
 display: flex;

 height: 4vh;
}

.title-link{
  font-weight: 700;
}

.link{
  display: block;
  background-color: #fff;
  padding-left: 7px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: 12pt;
  font-weight: 500;
  width: 100%;
  padding-top: 8px;
}

.extension{
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  font-size: 12pt;
  font-weight: 500;
  width: 16vw;
  margin-right: 3px;
  background-color: transparent;
}

.btn-enviar{
    width: 8vw;
    height: 4vh;
    cursor: pointer;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: none;
    background-color: #21eb74;
    color: #000;
    font-size: 14pt;
    font-weight: 600;
}

.btn-enviar span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-enviar span:after {
    content: '\00bb';
    position: absolute;
    font-size: 15pt;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.btn-enviar:hover span{
    padding-right: 25px;
}

.btn-enviar:hover span:after {
    opacity: 1;
    right: 0;
}

@media (max-width: 1900px){

  .link-btn{
    display: inline;
  }

  .link{
    width: 100%;
    border-radius: 5px;
    height: 36px;
  }

  .btn-enviar{
    transition: .7s;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;

  }

  .text-box{
    height: 70vh;
  }

}

@media (max-width: 1515px){


  .text-box{
    width: 75vw;
    height: 70vh;
  }

  

  .title-link{
    width: 500px;
    align-items: center;
  }

  .extension{
    width: 26%;
  }

}

@media (max-width: 900px){
  
  .text-box{
    width: 75vw;
    height: 80%;
  }

  .link{
    height: 7.5vh;
    text-align: center;
  }

  .extension{
    width: 60%;
    text-align: center;
  }

@media (max-width: 700px){

  .container-artigo{
    width: 100vw;
  background: #2f50f5;
    
  }

  .text-box{
    width: 100vw;
    padding: 5px;
    
  }

  .link{
    height: 10vh;
  }

}

@media (max-width: 420px) {

  .link{
    height: 12vh;

  }

  .extension{
    padding-top: 3px;
  }
}




}