<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" href="/files/css/all.min.css" />
  <link rel="stylesheet" href="/files/css/fontawesome.min.css" />
  <script src="/files/javascript/apiCeos.js"></script>
  <script src="/files/javascript/editor.js"></script>
  <link rel="stylesheet" href="/files/css/main.css" />
  <link rel="stylesheet" href="/files/css/main_dark.css" />
  <link rel="stylesheet" href="/files/css/artigo_completo.css" />
  <link rel="icon" type="image/png" href="/files/img/main/logo.png" />
  <title>Ceos Community</title>
</head>

<body class="body-light" id="body">
  <div class="wrapper" id="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
        <div class="logo"><a href="/index.html"><img src="/files/img/main/logo.png" class="logotipo"></a></div>
        <ul class="links">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/artigos.html">Artigos</a></li>
          <li><a href="/sobre.html">Sobre Nós</a></li>
          <li><a href="/painel.html">Painel</a></li>
          <li>
            <a href="" class="desktop-link">Conta <i class="fas fa-angle-down"></i></a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Conta <i class="fas fa-angle-down"></i></label>
            <ul id="dropdown">
              <li><a href="/login.html"><i class="fas fa-door-open"></i><span
                    class="text-submenu">Login/Cadastro</span></a>
              </li>
              <li><a href="/perfil.html"><i class="fas fa-user-circle"></i><span class="text-submenu">Perfil</span></a>
              </li>
              <li><a href="#"><i class="fas fa-sign-out-alt"></i><span class="text-submenu">Sair</span></a></li>
            </ul>
          </li>
          <li>
            <a href="" class="desktop-link">Aparência <i class="fas fa-angle-down"></i></a>
            <input type="checkbox" id="show-features1">
            <label for="show-features1">Aparência <i class="fas fa-angle-down"></i></label>
            <ul>
              <li><button onclick="darkTheme()" class="theme"><i class="fas fa-moon"></i>
                  <div class="text-dark">Tema Escuro <i id="check-dark" class="fas #"></i></div>
                </button></li>
              <li><button onclick="lighTheme()" class="theme"><i class="fas fa-sun"></i>
                  <div class="text-dark">Tema Claro <i id="check-light" class="fas fa-check"></i></div>
                </button></li>
            </ul>
          </li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="/search" class="search-box">
        <input type="text" placeholder="Pesquisar..." required name="q">
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>

  <div id="progressbar"></div>
  <div id="scrollpath"></div>

  <div class="btn">
    <a><button class="btn-voltar" onclick="history.back()"><span>Voltar</span></button></a>
  </div>

  <div class="container-artigo-completo" id="container_artigo_completo">
    <label class="title-artigo-completo" id="title_artigo_completo"></label>

    <label class="subtitle_artigo_completo" id="subtitle_artigo_completo"></label>

    <div id="editorjs"></div>
  </div>

  <button id="back-to-top-btn" class="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

  <script src="/files/javascript/main.js"></script>
  <script src="/files/javascript/theme.js"></script>

  <script>
    const apiCeos = new ApiCeos();
    const url = window.location.toString().split('/').pop();
    const titleHtml = document.querySelector('.title-artigo-completo');
    const subtitleHtml = document.querySelector('.subtitle_artigo_completo');
    apiCeos.biblioteca.pegueArtigo(url)
      .then((artigo) => {
        titleHtml.append(artigo.titulo);
        subtitleHtml.append(`${artigo.autorNome} ${artigo.autorSobrenome} • ${dataFormatada(artigo.dataPublicacao)}`);
        const editorjs = new EditorJS({
          holder: 'editorjs',
          readOnly: true,
          placeholder: 'Artigo em branco',
          data: artigo.conteudo
        });
      }).catch(console.error);
    function dataFormatada(data) {
      const dia = data.getDate().toString(),
        diaF = (dia.length == 1) ? '0' + dia : dia,
        mes = (data.getMonth() + 1).toString(),
        mesF = (mes.length == 1) ? '0' + mes : mes,
        anoF = data.getFullYear();
      return diaF + "/" + mesF + "/" + anoF;
    }
  </script>

</body>

</html>