<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/7ca743346d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./files/css/main.css"/>
    <link rel="icon" type="image/png" href="./files/img/favicon.png"/>
    <title>Ceos Community</title>
</head>
<body>
    <header>
      <nav>
        <a href="index.html"><img src="./files/img/logo.png" class="logo"></a>  
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a class="links" href="index.html">INÍCIO</a></li>
            <li><a class="links ativo" href="artigos.html">ARTIGOS</a></li>
            <li><a class="links" href="sobre.html">SOBRE NÓS</a></li>
            <li><a class="links" href="painel.html">PAINEL</a></li>
            <li><a class="links" href="login.html">ENTRAR</a></li>
        </ul>
      </nav>
    </header>

<script src="./files/javascript/app.js"></script>

</body>
</html>

