<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/7ca743346d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./files/css/main.css"/>
    <link rel="stylesheet" href="./files/css/login.css"/>
    <link rel="icon" type="image/png" href="./files/img/favicon.png"/>
    <title>Ceos Community</title>
</head>
<body>
    <header>
      <nav>
        <a href="index.html"><img src="./files/img/logo.png" class="logo"></a>  
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a class="links" href="index.html">INÍCIO</a></li>
            <li><a class="links" href="artigos.html">ARTIGOS</a></li>
            <li><a class="links" href="sobre.html">SOBRE NÓS</a></li>
            <li><a class="links" href="painel.html">PAINEL</a></li>
            <li><a class="links ativo" href="login.html">ENTRAR</a></li>
        </ul>
      </nav>
    </header>
    
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" class="sign-in-form" name="sign-in-form">
            <h2 class="title">Entrar</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nome" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Senha" > 
            </div>
            <input type="submit" value="Entrar" class="btn solid" />
            <p class="social-text">Ou conecte-se com suas mídias sociais</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>

          <form action="#" class="sign-up-form">
            <h2 class="title">Cadastre-se </h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nome" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Sobrenome" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Senha" >
            </div>
            <input type="submit" class="btn" value="Enviar" />
            <p class="social-text">Ou conecte-se com suas mídias sociais</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Não tem cadastro?</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Cadastre-se
            </button>
          </div>
          <img src="./files/img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Já possui cadastro?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Entrar 
            </button>
          </div>
          <img src="./files/img/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>

<script src="./files/javascript/app.js"></script>
<script src="./files/javascript/container.js"></script>

</body>
</html>
