<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" href="/files/css/all.min.css" />
    <link rel="stylesheet" href="/files/css/fontawesome.min.css" />
    <script src="/files/javascript/apiCeos.js"></script>
    <link rel="stylesheet" href="/files/css/main.css" />
    <link rel="stylesheet" href="/files/css/main_dark.css" />
    <link rel="stylesheet" href="/files/css/login.css" />
    <link rel="icon" type="image/png" href="/files/img/main/favicon.png" />
    <title>Conta - Ceos Community</title>
</head>

<body class="body-light" id="body">
    <div class="wrapper" id="wrapper">
        <nav>
            <input type="checkbox" id="show-search">
            <input type="checkbox" id="show-menu">
            <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
            <div class="content">
                <div class="logo">
                    <a href="/index.html"><img src="/files/img/main/logo.png" class="logotipo"></a>
                </div>
                <ul class="links">
                    <li class="home-item"><a href="/index.html">Home</a></li>
                    <li class="artigos-menu-item"><a href="/artigos.html">Artigos</a></li>
                    <li class="sobre-item"><a href="/sobre.html">Sobre Nós</a></li>
                    <li class="painel-item"><a href="/painel.html">Painel</a></li>
                    <li>
                        <a href="" class="desktop-link">Conta <i class="fas fa-angle-down"></i></a>
                        <input type="checkbox" id="show-features">
                        <label for="show-features">Conta <i class="fas fa-angle-down"></i></label>
                        <ul id="dropdown">
                            <li class="login-item"><a href="/login.html"><i class="fas fa-door-open"></i><span
                    class="text-submenu">Login/Cadastro</span></a>
                            </li>
                            <li class="perfil-item"><a href="/perfil.html"><i class="fas fa-user-circle"></i><span
                    class="text-submenu">Perfil</span></a>
                            </li>
                            <li class="sair-item"><a><i class="fas fa-sign-out-alt"></i><span
                    class="text-submenu">Sair</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="desktop-link">Aparência <i class="fas fa-angle-down"></i></a>
                        <input type="checkbox" id="show-features1">
                        <label for="show-features1">Aparência <i class="fas fa-angle-down"></i></label>
                        <ul>
                            <li><button onclick="darkTheme()" class="theme"><i class="fas fa-moon"></i>
                  <div class="text-dark">Tema Escuro <i id="check-dark" class="fas #"></i></div>
                </button></li>
                            <li><button onclick="lighTheme()" class="theme"><i class="fas fa-sun"></i>
                  <div class="text-dark">Tema Claro <i id="check-light" class="fas fa-check"></i></div>
                </button></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
            <form action="/search" class="search-box">
                <input type="text" placeholder="Pesquisar..." required name="q">
                <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </form>
        </nav>
    </div>

    <div id="progressbar"></div>
    <div id="scrollpath"></div>

    <div class="container-login">
        <div class="container" id="container">
            <div class="forms-container">
                <div class="signin-signup">
                    <form action="#" class="sign-in-form" name="sign-in-form">
                        <h2 class="title" id="title">Entrar</h2>
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="text" id="email" placeholder="Email" class="email" required />
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Senha" class="senha" maxlength="255" required />
                        </div>
                        <label class="label-erros"></label>
                        <input type="button" value="Conectar-se" class="btn solid login" disabled/>

                    </form>

                    <form action="#" class="sign-up-form">
                        <h2 class="title" id="title1">Criar Conta</h2>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Nome" class="nome" required />
                        </div>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Sobrenome" class="sobrenome" required />
                        </div>
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="email" placeholder="Email" class="email" required />
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock" id="lock" onclick="show()"></i>
                            <input type="password" id="senha" onclick="animation_lock()" placeholder="Senha" class="senha1" minlength="6" maxlength="255" required />
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock" id="lock1" onclick="show1()"></i>
                            <input type="password" id="senha1" onclick="animation_lock1()" placeholder="Confirmar Senha" class="senha2" minlength="7" maxlength="255" required />
                        </div>
                        <label class="label-erros"></label>
                        <div class="termos" id="termos"><input type="checkbox" class="aceitar-termos" required>
                            <p class="container-text-termos">Concordo com os <a class="link_termos" href="/termos.html">Termos de
                  Uso.</a></p>
                        </div>
                        <input type="button" class="btn registro" value="Cadastrar" disabled/>
                    </form>
                </div>
            </div>

            <div class="panels-container">
                <div class="panel left-panel">
                    <div class="content">
                        <h3>Não possui cadastro?</h3>
                        <p>
                            Cadastre-se para obter todas as funcionalidades do site!
                        </p>
                        <button class="btn transparent" id="sign-up-btn">
              Cadastre-se
            </button>
                    </div>
                    <img src="/files/img/login/login.svg" class="image" alt="" />
                </div>
                <div class="panel right-panel">
                    <div class="content">
                        <h3>Já possui cadastro?</h3>
                        <p>
                            Faça Login para se conectar juntamente com os demais usuários!
                        </p>
                        <button class="btn transparent" id="sign-in-btn">
              Entrar
            </button>
                    </div>
                    <img src="/files/img/login/register.svg" class="image" alt="" />
                </div>
            </div>
        </div>
    </div>

    <script src="/files/javascript/main.js"></script>
    <script src="/files/javascript/container_forms.js"></script>
    <script src="/files/javascript/theme.js"></script>
    <script src="/files/javascript/login.js"></script>

</body>

</html>