<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <script src="/files/javascript/apiCeos.js"></script>
    <link rel="stylesheet" href="/files/css/all.min.css" />
    <link rel="stylesheet" href="/files/css/fontawesome.min.css" />
    <script src="/files/javascript/editor.js"></script>
    <link rel="stylesheet" href="/files/css/main.css" />
    <link rel="stylesheet" href="/files/css/main_dark.css" />
    <link rel="stylesheet" href="/files/css/painel.css" />
    <link rel="icon" type="image/png" href="/files/img/main/favicon.png" />
    <title>Painel - Ceos Community</title>
</head>

<body class="body-light" id="body">
    <div class="wrapper" id="wrapper">
        <nav>
            <input type="checkbox" id="show-search">
            <input type="checkbox" id="show-menu">
            <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
            <div class="content">
                <div class="logo">
                    <a href="/index.html"><img src="/files/img/main/logo.png" class="logotipo"></a>
                </div>
                <ul class="links">
                    <li class="home-item"><a href="/index.html">Home</a></li>
                    <li class="artigos-menu-item"><a href="/artigos.html">Artigos</a></li>
                    <li class="sobre-item"><a href="/sobre.html">Sobre Nós</a></li>
                    <li class="painel-item"><a href="/painel.html">Painel</a></li>
                    <li>
                        <a href="" class="desktop-link static-button">Conta <i class="fas fa-angle-down theme-check"></i></a>
                        <input type="checkbox" id="show-features">
                        <label for="show-features">Conta <i class="fas fa-angle-down"></i></label>
                        <ul id="dropdown" class="menu-conta">
                            <li class="login-item"><a href="/login.html"><i class="fas fa-door-open"></i><span
                                        class="text-submenu">Login/Cadastro</span></a>
                            </li>
                            <li class="perfil-item"><a href="/perfil.html"><i class="fas fa-user-circle"></i><span
                                        class="text-submenu">Perfil</span></a>
                            </li>
                            <li class="sair-item"><a><i class="fas fa-sign-out-alt"></i><span
                                        class="text-submenu">Sair</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="desktop-link static-button">Aparência <i class="fas fa-angle-down theme-check"></i></a>
                        <input type="checkbox" id="show-features1">
                        <label for="show-features1">Aparência <i class="fas fa-angle-down"></i></label>
                        <ul class="menu-aparencia">
                            <li><button onclick="darkTheme()" class="theme"><i class="fas fa-moon"></i>
                                    <div class="text-dark">Tema Escuro <i id="check-dark" class="fas # theme-check"></i></div>
                                </button></li>
                            <li><button onclick="lighTheme()" class="theme"><i class="fas fa-sun"></i>
                                    <div class="text-dark">Tema Claro <i id="check-light" class="fas fa-check theme-check"></i>
                                    </div>
                                </button></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
            <form action="/search" class="search-box">
                <input type="text" placeholder="Pesquisar..." required name="q">
                <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </form>
        </nav>
    </div>

    <div id="progressbar"></div>
    <div id="scrollpath"></div>

    <div class="container-artigo">
        <div class="text-box">
            <div class="top-area">
                <input class="title-painel" type="text" placeholder="Título do Artigo" id="title" autofocus>
            </div>
            <!-- <div class="contador">
        <span id="cont">5000</span> Caracteres Restantes
      </div> -->
            <div id="editorjs"></div>
            <div class="label-erro">
                <label class="label-erros"></label>
            </div>
            <div class="link-btn">
                <label class="link" id="link"><label class="title-link" id="title-link">Link do seu
                        Artigo:</label><label class="cod" id="cod">
                        www.ceoscommunity.com/artigos/</label><input type="text" id="extension" class="extension" placeholder="Digite sua extensão"></label>
                <button class="btn-enviar" id="btn-enviar" disabled><span>Publicar</span></button>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <img src="/files/img/main/logo.png" class="img-rodape">
            <h3>CEOS COMMUNITY</h3>
            <p>"Conhecimento nunca é demais"</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/etecdesapopemba"><i class="icon1 fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/etecdesapopemba"><i class=" icon2 fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/etecdesapopemba"><i class="icon3 fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2021 Ceos Community</p>
        </div>
    </footer>

    <button id="back-to-top-btn" class="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

    <script src="/files/javascript/main.js"></script>
    <script src="/files/javascript/theme.js"></script>

    <script>
        const editorjs = new EditorJS({
            autofocus: false,
            holder: 'editorjs',
            readOnly: false,
            placeholder: 'Ensine algo para o mundo!',
            onReady: () => document.querySelectorAll('.codex-editor__redactor').forEach(element => element.setAttribute('style', 'min-height: 345px;'))
        });

        const tituloInput = document.querySelector('#title');
        const urlInput = document.querySelector('#extension');
        const btnEnviar = document.querySelector('#btn-enviar');
        const labelErros = document.querySelector('.label-erros');

        /* Functions insert in html */
        const goHtml = (el, child) => el.innerHTML = child;
        const goInput = (el, value) => el.value = value;

        btnEnviar.addEventListener('click', async() => {
            const titulo = tituloInput.value;
            const conteudo = await editorjs.save();
            const url = urlInput.value;
            apiCeos.editora.criarArtigo(titulo, conteudo, url)
                .then(artigo => window.location.assign(artigo.url))
                .catch(erro => goHtml(labelErros, erro.message))
        });
        /* State form */
        const stateForm = {
            titulo: {
                clicks: 1,
                click: function() {
                    this.clicks++
                }
            },
            url: {
                clicks: 0,
                click: function() {
                    this.clicks++
                },
            }
        }

        /* Reg validation */
        const regCharEspecial = /\W|_/;

        const btn = {
            active: () => btnEnviar.disabled = false,
            desable: () => btnEnviar.disabled = true,
        }
        const checkTitulo = () => tituloInput.value.length ? false : 'O Título do Artigo não foi fornecido';
        const checkConteudo = () => false;
        const checkUrl = () => {
            let haveErro = false;
            let url = urlInput.value;
            url = url.toLowerCase().replaceAll(' ', '-');
            url = url[0] == '-' ? url.substring(1) : url;
            url = url.replaceAll('--', '-');
            if (url.length < 1) haveErro = 'URL vazia';
            if (regCharEspecial.test(url.replaceAll('-', ''))) haveErro = 'Não utilize caracteres especiais na URL';
            if (url.search('--') != -1) haveErro = 'Não de dois espaços consecutivos na URL';

            goInput(urlInput, url);
            return haveErro;
        }
        const checkInfo = () => {
                const haveErroUrl = checkUrl();
                const haveErroConteudo = checkConteudo();
                const haveErroTitulo = checkTitulo();
                const erroClean = !haveErroUrl && !haveErroConteudo && !haveErroTitulo;

                if (erroClean || (!stateForm.url.clicks || !stateForm.titulo.clicks)) {
                    goHtml(labelErros, '');
                    if (erroClean) btn.active();
                } else {
                    btn.desable();
                    if (stateForm.url.clicks && haveErroUrl) goHtml(labelErros, haveErroUrl);
                    if (haveErroConteudo) goHtml(labelErros, haveErroConteudo);
                    if (stateForm.titulo.clicks && haveErroTitulo) goHtml(labelErros, haveErroTitulo);
                }
            }
            /* Events for validation */
        urlInput.addEventListener('keyup', checkInfo);
        urlInput.addEventListener('keydown', checkInfo);
        urlInput.addEventListener('blur', checkInfo);
        urlInput.addEventListener('click', () => stateForm.url.click());

        tituloInput.addEventListener('keyup', checkInfo);
        tituloInput.addEventListener('keydown', checkInfo);
        tituloInput.addEventListener('blur', checkInfo);
        tituloInput.addEventListener('click', () => stateForm.titulo.click());
    </script>
</body>

</html>