<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="/files/javascript/apiCeos.js"></script>
  <script src="https://kit.fontawesome.com/7ca743346d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/files/css/main.css" />
  <link rel="stylesheet" href="/files/css/main_dark.css" />
  <link rel="stylesheet" href="/files/css/perfil.css" />
  <link rel="icon" type="image/png" href="/files/img/main/favicon.png" />
  <title>Ceos Community</title>
</head>

<body class="body-light" id="body">
  <div class="wrapper" id="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
        <div class="logo"><a href="/index.html"><img src="/files/img/main/logo.png" class="logotipo"></a></div>
        <ul class="links">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/artigos.html">Artigos</a></li>
          <li><a href="/sobre.html">Sobre Nós</a></li>
          <li><a href="/painel.html">Painel</a></li>
          <li>
            <a href="" class="desktop-link">Conta <i class="fas fa-angle-down"></i></a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Conta <i class="fas fa-angle-down"></i></label>
            <ul id="dropdown">
              <li><a href="/login.html"><i class="fas fa-door-open"></i><span
                    class="text-submenu">Login/Cadastro</span></a>
              </li>
              <li><a href="/perfil.html"><i class="fas fa-user-circle"></i><span class="text-submenu">Perfil</span></a>
              </li>
              <li><a href="#"><i class="fas fa-sign-out-alt"></i><span class="text-submenu">Sair</span></a></li>
            </ul>
          </li>
          <li>
            <a href="" class="desktop-link">Aparência <i class="fas fa-angle-down"></i></a>
            <input type="checkbox" id="show-features1">
            <label for="show-features1">Aparência <i class="fas fa-angle-down"></i></label>
            <ul>
              <li><button onclick="darkTheme()" class="theme"><i class="fas fa-moon"></i>
                  <div class="text-dark">Tema Escuro <i id="check-dark" class="fas #"></i></div>
                </button></li>
              <li><button onclick="lighTheme()" class="theme"><i class="fas fa-sun"></i>
                  <div class="text-dark">Tema Claro <i id="check-light" class="fas fa-check"></i></div>
                </button></li>
            </ul>
          </li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="/search" class="search-box">
        <input type="text" placeholder="Pesquisar..." required name="q">
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>

  <div id="progressbar"></div>
  <div id="scrollpath"></div>

  <div class="container-perfil">

    <div class="container-perfil-info" id="container-perfil-info">
      <p class="title-bem-vindo">
        Bem Vindo(a) <spam class="bem-vindo"></spam>!
      </p>
      <div class="container-infos" id="container-infos">
        <p class="title-infos">Dados da Conta</p>
        <p class="subtitle-infos">Nome Completo: <span class="info nome"></span></p>
        <p class="subtitle-infos">E-mail Cadastrado: <span class="info email"></span></p>
        <p class="subtitle-infos">Artigos Criados: <span class="info numero-artigos"></span></p>
      </div>
    </div>

    <div class="meus-artigos container-artigos">
      <p class="title-meus-artigos">Meus Artigos</p>
    </div>

  </div>

  <button id="back-to-top-btn" class="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

  <script src="/files/javascript/main.js"></script>
  <script src="/files/javascript/theme.js"></script>

  <script>
    const apiCeos = new ApiCeos(appendHtmlDataUser);
    const nomeHtml = document.querySelector('.nome');
    const emailHtml = document.querySelector('.email');
    const numeroArtigosHtml = document.querySelector('.numero-artigos');
    const bemVindoHtml = document.querySelector('.bem-vindo');
    function appendHtmlDataUser(usuario) {
      bemVindoHtml.append(usuario.nome);
      nomeHtml.append(`${usuario.nome} ${usuario.sobrenome}`);
      emailHtml.append(usuario.email);
      numeroArtigosHtml.append(500);
    }
    function artigoHTML({ titulo, conteudo, dataPublicacao, url, autorNome, autorSobrenome, id }) {
      url = window.origin + "/artigos/" + url;
      const el = el => document.createElement(el);
      const containerArtigo = el('div');
      const textBox = el('div');
      const topArea = el('div');
      const portBody = el('div');
      const titleArtigo = el('label');
      const subtitle = el('label');
      const editorjs = el('div');
      const tresPontos = el('p');
      const readMore = el('a');

      readMore.classList.add("read-more");
      containerArtigo.classList.add("container-artigo");
      textBox.classList.add("text-box");
      topArea.classList.add("top-area");
      portBody.classList.add("post-body");
      titleArtigo.classList.add("title-artigo");
      subtitle.classList.add("subtitle");
      textBox.setAttribute("id", "text-box");
      portBody.setAttribute("id", "post-body");
      titleArtigo.setAttribute("id", "title-artigo");
      subtitle.setAttribute("id", "subtitle");
      readMore.setAttribute("href", url);
      editorjs.setAttribute("id", `editorjs-${id}`);
      containerArtigo.append(textBox);
      textBox.append(topArea);
      textBox.append(portBody);
      topArea.append(titleArtigo);
      topArea.append(subtitle);
      portBody.append(editorjs);
      tresPontos.append("...")
      /* editorjs.append(tresPontos); */
      readMore.append("Ver Mais");
      textBox.append(readMore);
      titleArtigo.append(titulo);
      subtitle.append(`${dataFormatada(dataPublicacao)} • ${autorNome} ${autorSobrenome}`);
      return containerArtigo;
    }
    function dataFormatada(data) {
      data = new Date(data);
      const dia = data.getDate().toString().padStart(2, '0');
      const mes = (data.getMonth() + 1).toString().padStart(2, '0');
      const ano = data.getFullYear();
      return dia + "/" + mes + "/" + ano;
    }

    let libLivre = true;

    window.addEventListener('scroll', () => {
      el = document.documentElement;
      if (el.scrollTop + el.clientHeight >= el.scrollHeight - 5 && libLivre) {
        libLivre = false;
        apiCeos.biblioteca.pushMeusArtigos()
          .then(artigoList => {
            libLivre = true;
            const artigosHtml = document.querySelector('.container-artigos');
            artigoList.forEach(artigo => {
              artigosHtml.append(artigoHTML(artigo));
              new EditorJS({
                holder: `editorjs-${artigo.id}`,
                readOnly: true,
                placeholder: 'Artigo em branco',
                data: artigo.conteudo,
                onReady: () => document.querySelectorAll('.codex-editor__redactor').forEach(element => element.setAttribute('style', ''))
              });

            });
          })
          .catch(err => {
            console.error(err);
            libLivre = true;
          });
      }
    });
    apiCeos.biblioteca.pushMeusArtigos()
      .then(artigoList => {
        libLivre = true;
        const artigosHtml = document.querySelector('.container-artigos');
        artigoList.forEach(artigo => {
          artigosHtml.append(artigoHTML(artigo));
          new EditorJS({
            holder: `editorjs-${artigo.id}`,
            readOnly: true,
            placeholder: 'Artigo em branco',
            data: artigo.conteudo,
            onReady: () => document.querySelectorAll('.codex-editor__redactor').forEach(element => element.setAttribute('style', ''))
          });

        });
      })
      .catch(err => {
        console.error(err);
        libLivre = true;
      });
  </script>

</body>

</html>