<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/7ca743346d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./files/css/main.css"/>
    <link rel="stylesheet" href="./files/css/sobre.css"/>
    <link rel="icon" type="image/png" href="./files/img/favicon.png"/>
    <title>Ceos Community</title>
</head>
<body>
  <header>
    <nav>
      <a href="index.html"><img src="./files/img/logo.png" class="logo"></a>  
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
          <li><a class="links" href="index.html">INÍCIO</a></li>
          <li><a class="links" href="artigos.html">ARTIGOS</a></li>
          <li><a class="links ativo" href="sobre.html">SOBRE NÓS</a></li>
          <li><a class="links" href="painel.html">PAINEL</a></li>
          <li><a class="links" href="login.html">ENTRAR</a></li>
      </ul>
    </nav>
  </header>
    
  <div class="scroll-conatiner">
      <div class="scroll-area">
        <div class="container-sobre">
          <p class="title-sobre">Ceos Community</p>
          <p class="content-sobre">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently 
          with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="cards">
          <div class="card card1">
              <div class="container">
                  <img src="./files/img/sobre1.jpg" alt="las vegas">
              </div>
              <div class="details">
                  <h3>Ceos Community</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
              </div>
          </div>
      </div>
      </div>
  
		  <div class="scroll-area">
        <div class="container-sobre">
          <p class="title-sobre">Ceos Community</p>
          <p class="content-sobre">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently 
          with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="cards">
          <div class="card card2">
              <div class="container">
                  <img src="./files/img/sobre1.jpg" alt="las vegas">
              </div>
              <div class="details">
                  <h3>Ceos Community</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
              </div>
          </div>
      </div>
        
      </div>

		  <div class="scroll-area">
        <div class="container-sobre">
          <p class="title-sobre">Ceos Community</p>
          <p class="content-sobre">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently 
          with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="cards">
          <div class="card card1">
              <div class="container">
                  <img src="./files/img/sobre1.jpg" alt="las vegas">
              </div>
              <div class="details">
                  <h3>Ceos Community</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dignissimos, minus aperiam adipisci exercitationem.</p>
              </div>
          </div>
      </div>
        
      </div>
	</div>

  

<script src="./files/javascript/app.js"></script>

</body>
</html>